keybinds clear-defaults=true {
    normal  {
    }
    resize {
        bind "Ctrl n" { SwitchToMode "Normal"; }
        bind "h" "Left" { Resize "Increase Left"; }
        bind "j" "Down" { Resize "Increase Down"; }
        bind "k" "Up" { Resize "Increase Up"; }
        bind "l" "Right" { Resize "Increase Right"; }
    }
    pane {
        bind "Ctrl p" { SwitchToMode "Normal"; }
        bind "h" "Left" { MoveFocus "Left"; }
        bind "l" "Right" { MoveFocus "Right"; }
        bind "j" "Down" { MoveFocus "Down"; }
        bind "k" "Up" { MoveFocus "Up"; }
        bind "n" { NewPane; SwitchToMode "Normal"; }
        bind "d" { NewPane "Down"; SwitchToMode "Normal"; }
        bind "r" { NewPane "Right"; SwitchToMode "Normal"; }
        bind "x" { CloseFocus; SwitchToMode "Normal"; }
        bind "f" { ToggleFocusFullscreen; SwitchToMode "Normal"; }
    }
    move {
        bind "Ctrl h" { SwitchToMode "Normal"; }
        bind "n" "Tab" { MovePane; }
        bind "h" "Left" { MovePane "Left"; }
        bind "j" "Down" { MovePane "Down"; }
        bind "k" "Up" { MovePane "Up"; }
        bind "l" "Right" { MovePane "Right"; }
    }
    tab {
        bind "Ctrl t" { SwitchToMode "Normal"; }
        bind "r" { SwitchToMode "RenameTab"; TabNameInput 0; }
        // bind "h" "Left" "Up" "k" { GoToPreviousTab; }
        // bind "l" "Right" "Down" "j" { GoToNextTab; }
        bind "n" { NewTab; SwitchToMode "Normal"; }
        bind "x" { CloseTab; SwitchToMode "Normal"; }
        bind "b" { BreakPane; SwitchToMode "Normal"; }
        bind "]" { BreakPaneRight; SwitchToMode "Normal"; }
        bind "[" { BreakPaneLeft; SwitchToMode "Normal"; }
        bind "Tab" { ToggleTab; }
    }


     scroll {
        bind "Ctrl s" { SwitchToMode "Normal"; }
        bind "e" { EditScrollback; SwitchToMode "Normal"; }
        bind "/" { SwitchToMode "EnterSearch"; SearchInput 0; }
        bind "Ctrl c" { ScrollToBottom; SwitchToMode "Normal"; }
        bind "j" "Down" { ScrollDown; }
        bind "k" "Up" { ScrollUp; }
        bind "Ctrl d" { PageScrollDown; }
        bind "CTRL u" { PageScrollUp; }
    }
    
    renametab {
        bind "Ctrl c" { SwitchToMode "Normal"; }
        bind "Esc" { UndoRenameTab; SwitchToMode "Tab"; }
    }

    shared {
      bind "Super 1" { GoToTab 1;}
      bind "Super 2" { GoToTab 2;}
      bind "Super 3" { GoToTab 3;}
      bind "Super 4" { GoToTab 4;}
    }

    shared_except "normal" {
        bind "Enter" "Esc" { SwitchToMode "Normal"; }
    }
    shared_except "pane" {
        bind "Ctrl p" { SwitchToMode "Pane"; }
    }
    shared_except "resize" {
        bind "Ctrl n" { SwitchToMode "Resize"; }
    }
    shared_except "tab" {
        bind "Ctrl t" { SwitchToMode "Tab"; }
    }
    shared_except "move" {
        bind "Ctrl h" { SwitchToMode "Move"; }
    }
    shared_except "scroll" {
        bind "Ctrl s" { SwitchToMode "Scroll"; }
    }

}



themes {
    default {
        bg "#585b70" // Surface2
        fg "#cdd6f4"
        red "#f38ba8"
        green "#a6e3a1"
        blue "#89b4fa"
        yellow "#f9e2af"
        magenta "#f5c2e7" // Pink
        orange "#fab387" // Peach
        cyan "#89dceb" // Sky
        black "#181825" // Mantle
        white "#cdd6f4"
    }
}



default_layout "custom"
pane_frames false
